@import "node_modules/modern-normalize/modern-normalize.css";

.editor_mask {
  background-color: lightcyan;
  height: 80vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.editor {
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
}
.editor:focus {
  outline: none;
}

.control {
  height: 10vh;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  background-color: blue;
  text-align: center;
}
